{% extends 'base.html' %}
{% load staticfiles %}

{% block main_content %}
    <hr/>

    you are {{ count }} participants

    <hr/>
    Following is the recommendation result based on your choice
    <table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Recommend Music</th>
    </tr>
    {% for music in recommend_music %}
    <thread>
    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ music }}</th>
    </tr>
    </thread>
    {% endfor %}
    </thead>
    </table>

    <hr/>
    Following is the recommendation result based on User Portrait

    <table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>Recommend Music</th>
          <th>Possible Link</th>
        </tr>
      </thead>

    {% for music,url in user_graph_recommend.items %}
    <thread>
    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ music }}</th>
        <th><a href="{{ url }}">Click to have a try</a></th>
    </tr>
    </thread>
    {% endfor %}
    </table>

    <hr/>

    Following is the recommendation result based on contxt

    <table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>Recommend Music</th>
          <th>Possible Link</th>
        </tr>
      </thead>

    {% for music,url in user_type_recommend.items %}
    <thread>
    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ music }}</th>
        <th><a href="{{ url }}">Click to have a try</a></th>
    </tr>
    </thread>
    {% endfor %}
    </table>


<form method="POST" role="form">
{% csrf_token %}
    Are you satisfied with the result this time ?<br>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="1">一星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="2">二星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="3">三星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="4">四星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="5">五星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="0">完全不符合期望</label>

    <hr/>

    Are you satisfied with the freshness rate of result this time ?:<br>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="1">一星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="2">二星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="3">三星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="4">四星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="5">五星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="0">完全不符合期望</label>

<br>
<button type="submit" class="btn btn-success" value="登陆">

    Submit

</button>
</form>
{% endblock %}